.dancing-script {
    font-family: 'Dancing Script', cursive
}

.card {
    width: 18rem;
}

#page-title {
    padding: 0 0.25em;
    background-color: #fff;
    border-radius: .5em;
    opacity: .5;
    font-size: 5em;
    z-index: 999;
}

@media screen and (max-width: 600px) {
    #page-title {
        font-size: 2em;
    }
}
